@import "tailwindcss";

/* Mengatasi margin default browser agar layout benar-benar full */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* ==========================================================
   ANIMASI MARQUEE (LOOPS)
   ========================================================== */

/* Keyframes Utama untuk Pergeseran Horizontal Kiri */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* 1. Untuk Ticker Text Bawaan (Cepat - 15 detik) */
.animate-marquee {
  animation: marquee 15s linear infinite;
}

/* 2. KHUSUS UNTUK PORTFOLIO SHOWCASE SLIDER (Lebih Santai - 25 detik) */
.animate-marquee-portfolio {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

/* Efek Interaktif: Jalannya slider akan berhenti otomatis saat kursor mouse menyentuh kartu projek */
.animate-marquee-portfolio:hover {
  animation-play-state: paused;
}


/* ==========================================================
   ANIMASI KURSOR KETIK (TYPING EFFECT)
   ========================================================== */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.cursor-blink {
  border-right: 3px solid #3b82f6; /* Warna biru pengetikan */
  animation: blink 0.75s step-end infinite;
}